
<%- include('partials/header', {title: "Final Certi"}) %>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text">Global Cert</h1>
      <div class="row center">
        <h5 class="header col s12 light">Global Certificates is an online platform for hosting and distribution of
          e-verifiable certificates</h5>
      </div>
      <br><br>
    </div>
  </div>
  <div class="container">
    <div class="row center">
      <h4 class="header col s12 bold">Your Final Certifcate Preview</h4>
    </div>
    <!-- <div class="col s12 m4 l2"><p>s12 m4</p></div> -->
    <div id="target" class="col s12 m4 l8">

    </div>
    <button id="btn-1" class="btn waves-effect waves-light" type="submit" name="action">
      Download All
    </button>
  </div>

  <script>
    window.addEventListener('DOMContentLoaded', (e) => {
      const file = localStorage.getItem('file');
      const len = localStorage.getItem('length');
      console.log(file, len);
      let output = '';
      for (let i = 0; i < len; i++) {
        output += `
        <img src=/final/${file}/${i}.png class=\"responsive-img\">
        <button id=final/${file}/${i}.png class="btn waves-effect waves-light gg" type="submit" name="action">Download</button>
        `;
      }
      document.getElementById('target').innerHTML = output;

      document.querySelectorAll('.gg').forEach((data) => {
        data.addEventListener('click', (e) => {
          const id = e.target.id.split('/').splice(2, 1);
          const no = e.target.id.split('/').splice(3, 1);
          window.open(`/api/${id[0]}-${no[0]}`);
        })
      })
    })
    document.getElementById('btn-1').addEventListener('click',(e)=>{
      const file=localStorage.getItem('file');
      const id = file.split('/');
      window.open(`/api/all/${id[1]}`);
    })
  </script>

<%- include('partials/footer') %>